* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
}
.container {
  background-color: #ffffff;
}
.smallerheader ul {
  background-color: #000000;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  display: flex;
  min-width: fit-content;
  justify-content: space-evenly;
  font-size: 18px;
  color: #ffffff;
}
a {
  color: rgb(255, 255, 255);
}
.smallerheader ul :hover {
  color: rgba(234, 0, 255);
}
nav {
  display: block;
}
#aboutme {
  background-color: #000000;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  min-width: fit-content;
  max-width: fit-content;
  display: flex;
  margin: 35px;
  column-gap: 50px;
}
#aboutme img {
  border-radius: 350px;
  width: 200px;
  height: 280px;
  display: flex;
  padding: 20px;
}
#aboutme p {
  font-size: 30px;
}
#there {
  background-color: rgb(0, 0, 0);
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  margin: 30px;
  padding: 20px;
}
#sean {
  font-size: 55px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#sean:hover {
  color: rgb(234, 0, 255);
  font-size: 60px;
}
footer {
  background-color: #000000;
  color: #fffefe;
  text-align:center;
  min-width: fit-content;
  max-width: fit-content;
}
